*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'roboto';
}

.wrapper{
padding:0% 10%;
background-color: transparent;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
 }
 


.text h3{
    margin:40px 0;
}

hr{
    margin: 15px;
}




button{
    padding: 5px 10px ;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.button.green{
    color: white;
    border: none;
    background-color:  #47adf1;
}




.main.logo{
    height: 100%;
    margin-right: 30px;
}

header .main-menu{

    background-color: navy;
    position: relative;
}

header .main-menu>div.main{
    margin-top: 5px;
    height: 100%;
    float: left;
}

header .main-menu>.second-nav{
    height: 100%;
    float: right;
}

header .main-menu li{
    color: white;;
    margin: 15px 10px 15px 0px;
    display: inline-block;
}

/*-------------------------------*/


.container-hero{
    height:80vh;
    background-image: url("../img/background-header.png");
    background-color: royalblue;
}


.container-hero div.hero{
    margin-right: 4px;
    width: 800px;
    height: 400px;
    float:left;
    position: relative;
 }
 
 
 .hero>.text{
     background-color: transparent;
     width: 600px;
     height: 200px;
     bottom:0px;
     position: absolute;
 }


 .gray{
    padding: 30px;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: darkgray;
}


/*-------------------------------*/



.col2,.col3{
    height: 100%;
    position: relative;
}
.row{
    margin: 40px 0px;
    height: 400px;
    position: relative;
}




.col3{
    width: 30%;
    margin: 0% 1.5%;
    float:left;

}

.col3>.img{
    width: 100%;
    height: 200px;
    position: absolute;
}

.col3>.img>img{
   position: absolute;
   max-width: 100%;
   max-height:100%;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
}

.row .col3>.text{
    text-align: center;
    position: relative;
    top:51%;
    left:50%;
    transform: translate(-50%, 0% );
}

.col3>.text>hr{
    margin: 10px 130px 10px 130px;
}





.col2{
   
    width: 50%;
    float:left;
}

.col2>.img img{
    max-height: 100%;
 }

 .col2>.img{
    width: 100%;
    height: 400px; 
}

.col2>.text{
    text-align: left;
    position: relative;
    padding: 30px;
}



.footer{
    height: 200px;
    background-color: gray
}
